<div class="row">
    <div class="flex">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="chartType"
                ngbDropdownToggle>{{ selectedChartType || 'Chart type'}}</button>
            <div ngbDropdownMenu aria-labelledby="chartType">
                <button *ngFor='let type of chartType'
                    (click)="selectChartType($event.target.value)" [value]="type"
                    ngbDropdownItem>{{type}}</button>
            </div>
        </div>
    </div>

    <div class="flex">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="color"
                ngbDropdownToggle>{{ selectedColor || 'Color' }}</button>
            <div ngbDropdownMenu aria-labelledby="color">
                <button *ngFor='let color of colors' 
                [ngClass]="{'selected-class': selectedColor == color}"
                (click)="selectColor($event.target.value)"
                    [value]="color" ngbDropdownItem>{{color}}</button>
            </div>
        </div>
    </div>
    <!-- TODO Dropdowns should be in separate components -->
    <div class="flex">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Sensor</button>
            <div ngbDropdownMenu aria-labelledby="sensor">
                <button *ngFor='let sensor of sensors'
                    [ngStyle]="setBackgroundColor(sensor)"
                    [ngClass]="{'selected-class': isSelected(sensor)}"
                    (click)="selectSensor($event.target.value)" [value]="sensor"
                    ngbDropdownItem>{{sensor}}</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="isDisabled()" (click)="onAddNewChart()">Add new chart</button>

</div>