<div class="container">
    <h1>Sensor dashboard</h1>
    <div class="control-bar">
        <app-inputs (addNewChart)="onNewChartAdd($event)" [disabled]="isDisabled()"></app-inputs>
        <app-datepicker (onDateSelected)="onDateSelected($event)"></app-datepicker>
    </div>

    <app-chart *ngFor="let chart of charts" [data]="chart.dataSources" [type]="chart.type"
        [color]="chart.color"></app-chart>
</div>